= "#{@feedback.name} оставил заявку."
|================================================================================

= "Телефон или email: #{@feedback.contact}"
= "Описание проекта: #{@feedback.message}"