@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), font-url('opensans-regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('OpenSans'), font-url('opensans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Bandera Pro';
  font-style: normal;
  font-weight: 400;
  src: font-url('bandera-pro.eot');
  src: local('Bandera Pro'), local('BanderaPro'), font-url('bandera-pro.eot?#iefix') format('embedded-opentype'),
    font-url('bandera-pro.woff2') format('woff2'),
    font-url('bandera-pro.woff') format('woff'),
    font-url('bandera-pro.ttf') format('truetype');
}

@font-face {
  font-family: 'Bandera Pro';
  font-style: normal;
  font-weight: 600;
  src: font-url('bandera-pro-bold.eot');
  src: local('Bandera Pro'), local('BanderaPro'), font-url('bandera-pro-bold.eot?#iefix') format('embedded-opentype'),
    font-url('bandera-pro-bold.woff2') format('woff2'),
    font-url('bandera-pro-bold.woff') format('woff'),
    font-url('bandera-pro-bold.ttf') format('truetype')
}
